section {
    display: flex;    
    justify-content: center;
}

.container {
    width: 60%;
    text-align: center;
    background: linear-gradient(to bottom, #2c0a4c, #450d80);
    margin: 2rem 2rem;
    border-radius: 12px;    
}

p {
    margin: 2rem 2rem;
}